<%= form_with model: @kitten, local: true do |f| %>
  <% @kitten.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end%>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :age %>
  <%= f.select :age, (1..4) %>
  <%= f.label :cuteness %>
  <%= f.select :cuteness, (1..10) %>
  <%= f.label :softness %>
  <%= f.select :softness, (1..10) %>
  <%= f.submit 'Submit Kitty'%>
<% end %>